@import "tailwindcss";

@theme inline {
    --color-foreground: var(--color-mist-200);
    --color-background: var(--color-mist-900);
    --color-background-dark: var(--color-neutral-900);
}

body {
    @apply text-foreground bg-background;
}
