@import "tailwindcss";

@theme {
    --color-foreground: var(--color-mist-200);
    --color-background: var(--color-mist-900);
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}
